<!-- "About" modal -->
<section id="about-modal" class="about-popup modal">
  <article class="modal-content">
    <span class="modal-x close-modal">&times;</span>
    <h1>About MoonDrake</h1>

    <p> MoonDrake Studio was created by Stephanie Teubert in 2014.
      Being interested in fantasy and horror she began her work on how to make those 
      creatures come to life.  She started out small working with drug store products and has moved on to higher-end brands. Stephanie works to keep a quality which she believes everyone deserves. 
      Since her introduction to makeup she has moved forward to improve her talents in both beauty and monsters.  She spends her days experimenting with makeup techniques and styles to get a better understanding of how to do things efficiently.  For her, makeup is nothing less than an extension of self, used both in her daily life as well as her filming career. Check out more at

      <a class="modal-social-link" href="http://www.tumblr.com/blog/projectwhw
      ">Tumblr,</a>
      <a class="modal-social-link" href="https://www.facebook.com/projectwhw
      ">Facebook,</a>
      and
      <a class="modal-social-link" href="http://instagram.com/moondrake
      ">Instagram!</a>
    </p>
  </article>
  <div class="modal-screen close-modal"></div>
</section>