<ul class="link-list">
	<li class='home'>
		<a href="#home">Home</a>
	</li>
	<li class='gallery'>
		<a href="#beauty">Beauty Makeup</a>
	</li>
	<li class='gallery'>
		<a href="#monster">Monster Makeup</a>
	</li>
	<li class='gallery'>
		<a href="#sfx">SFX Makeup</a>
	</li>
	<li class='gallery'>
		<a href="#gallery">Full Gallery</a>
	</li>
	<li class='contact'>
		<a href="#contact">Contact</a>
	</li>
	<li class='open-modal'>
		About
	</li>
</ul>