<ul class="link-list">
	<li class='home-link link'>
		<a href="#home">Home</a>
	</li>
	<li class='beauty-link link'>
		<a href="#beauty">Beauty Makeup</a>
	</li>
	<li class='monster-link link'>
		<a href="#monster">Monster Makeup</a>
	</li>
	<li class='sfx-link link'>
		<a href="#sfx">SFX Makeup</a>
	</li>
	<li class='gallery-link link'>
		<a href="#gallery">Full Gallery</a>
	</li>
	<li class='contact-link link'>
		<a href="#contact">Contact</a>
	</li>
	<li class='open-modal link'>
		About
	</li>
</ul>