<!-- full size picture modal -->
  <section id="picture-modal" class="picture-popup modal">
    <article class="picture-modal-content">
      <span class="modal-x close-modal">&times;</span>
      <img src="<%= 6 %>">
    </article>
    <div class="modal-screen close-modal"></div>
  </section>