<!-- full size picture modal -->
  <section id="picture-modal" class="picture-popup modal group is-active">
    <article class="picture-modal-content">
      <img class="instagram-photo-fullsize" src="<%= source %>">
      <span class="modal-x close-modal">&times;</span>
    </article>
    <div class="modal-screen close-modal"></div>
  </section>