<nav class='page-buttons'>
  <ul>
    <li>
      <button type="button" class="previous" value="aaaa">Previous</button>
    </li>
    <li>
      Page <%=number + 1 %>
    </li>
    <li>
      <button type="button" class="next" value="aaaa">Next</button>
    </li>
  </ul>
</nav>

