@font-face {
  font-family: 'Quito';
  src:font-url('quito.ttf');
  src:font-url('quito.ttf?#iefix') format('embedded-opentype'),
    font-url('quito.svg#quito') format('svg'),
    font-url('quito.woff') format('woff'),
    fonnt-url('quito.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}